<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Assignment">

    <test name="BuyProduct">
        <parameter name="userName" value="Ositha Dewruwan"></parameter>
        <parameter name="userEmail" value="test@test.com"></parameter>
        <parameter name="userPassword" value="Abc@123.456"></parameter>
        <classes>
            <class name="Assignment.Page7"></class>
        </classes>

    </test>
</suite>